#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to right, #c3d7df, #c992bd);
  font-family: Arial, sans-serif;
  color: #333;
}

.title {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #fff;
  text-shadow: 2px 2px 4px #000000;
  font-family: narkism;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}
.tzedukah-button{  
  padding: 10px 20px;
  border: none;
  background-color: #0d7d6d;
  color: white;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 4px #999;
  transition: all 0.3s;
  font-family: narkism;
}
.maaser-button{  
  padding: 10px 20px;
  border: none;
  background-color: #d21730;
  color: white;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 4px #999;
  transition: all 0.3s;
  font-family: narkism;
}
.save-button{ 
   padding: 10px 20px;
  border: none;
  background-color: #03872b;
  color: white;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 4px #999;
  transition: all 0.3s;
  margin-right: 10px;
}
.reset-button {
  padding: 10px 20px;
  border: none;
  background-color: #d30303;
  color: white;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 4px #999;
  transition: all 0.3s;
  margin-left: 10px;
}
.maaser-button:hover,
.tzedukah-button:hover,
.save-button:hover,
.reset-button:hover {
  background-color: #95d5bd;
  box-shadow: 0 2px #666;
  
}

.maaser-button:active,
.tzedukah-button:active,
.save-button:active,
.reset-button:active {
  transform: translateY(4px);
  box-shadow: none;
  transition: transform 0.3s, box-shadow 0.3s, background-color 0s;
}
.money-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 194px;
  -moz-appearance: textfield;
  -webkit-appearance: none;
  margin: 0;
}



.maaserCss{font-size: 1.5em;
  margin: 20px 0;
  color: #d21730;
  font-family: narkism;
}
.tzedakahCss{
  font-size: 1.5em;
  margin: 20px 0;
  color: #0d7d6d;
  font-family: narkism;
}
.noCss{
  font-size: 1.5em; 
  margin: 20px 0;
  color: #fff;
}



